<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.handcoach"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <uses-permission 
        android:name="android.permission.CAMERA"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:screenOrientation="portrait">
        
        <activity 
            android:name="SplashScreen"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".telaPartidas.equipes.TelaCadastroEq"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.jogadores.TelaCadastroJog"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.equipes.TelaEditarEq"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.jogadores.TelaEditarJog"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.jogadores.TelaMenuEquipes"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.jogadores.TelaMenuJog"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.Scouting.TelaMenuScouting"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name="TelaNav"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.TelaPartidas"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.Scouting.TelaScouting"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:noHistory="true"
            android:screenOrientation="landscape">
        </activity>
        
        <activity 
            android:name="TelaSobre"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.equipes.TelaMenuEq"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.equipes.TelaEscolhaTipoEquipe"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.equipes.TelaMenuEqAdv"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.equipes.TelaCadastroEqAdv"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.equipes.TelaEditarEqAdv"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaPartidas.Scouting.TelaPreJogo"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape">
        </activity>
        
        <activity 
            android:name=".telaStats.TelaEscolhaEquipes"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        
        <activity 
            android:name=".telaStats.TelaStatsEquipeMenu"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaStats.TelaStatsDasEquipes"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaStats.TelaStatsDosJogadores"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaStats.PieChartJogador"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaStats.TelaStatsSelecaoJog"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaStats.TelaComparacao"
            android:theme="@android:style/Theme.WithActionBar"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name=".telaStats.TelaSelectJogadoresComp"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name=".telaStats.TelaEvolucaoJog"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
    </application>

</manifest>
